# See https://atom.io/docs/latest/creating-a-package#menus for more details
# 'context-menu':
#   '.overlayer':
#       'Enable d-struct': 'd-struct:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'D-Struct'
      'submenu': [
        { 'label': 'Dub Build', 'command': 'd-struct:dub-build' },
        { 'label': 'Dub Run', 'command': 'd-struct:dub-run' }
      ]
    ]
  }
]
